# you can copy this file to docker-compose.override.yml to modify compose settings for development

version: '3'

services:
  elasticsearch-index:
    # you can use the following command to delete and recreate the elasticsearch index
    # command: scripts/elasticsearch_create_index.py --host elasticsearch --index mojp --ensure --force
  app:
    environment:
        # this is required to be able to work with clearmash
      - "CLEARMASH_CLIENT_TOKEN="
