clearmash/processors/add_resources.py
--
{}
--
{
    "name": "clearmash",
    "resources": []
}
--
--
{
    "name": "clearmash",
    "resources": [
        {
            "name": "clearmash",
            "path": "clearmash.csv",
            "schema": {
                "fields": [
                    {"name": "id", "type": "integer"},
                    {"name": "doc", "type": "string"}
                ]
            }
        }
    ]
}
--
{{ MOCK_DOWNLOADED_ROWS }}

{}

